.newRecipe {
  margin-top: 20px;
  display: block;
}

.newRecipe input, textarea {
  display: block;
  margin-bottom: 10px;
  width: 25%;
}

.App-link {
  color: #61dafb;
}

#root > div:not(.Toastify) {
  width: 100%;
  padding: 16px 2rem;
  margin-left: 70px;
  margin-right: 70px;

  /* padding: 16px 32px; */
}
