exp {
  .smallRecipe {
    width: 358px;
    display: block;
    border-radius: 15px;
  }
  .small-recipe{
    margin-left:auto;
    margin-right:auto;
  }
  
  .smallRecipe > div {
      padding-left: 10px;
      padding-right: 10px;
  }
  .recipe-title h3{
      color: var(--gray-800, #333F51); 
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
  }
  .smallRecipe img {
      width: 100%;
      height: auto;
      height: 272px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 20px 20px 0 0 ;
  }
  .extraInfo img { 
      width: 6%;
      height: auto;
      margin-right: 7px;
  }

  .extraInfo {
      display: flex;
      margin-top: 0px;
      margin-bottom: 8px;

      font-size: 14px;
      font-weight: 500;
      line-height: 24px; /* 150% */ 
      align-items: left;
      justify-content:flex-start;
  }

  .extraInfo span:not(:last-child) {
      margin-right: 5%;
  }

  .description {
      margin-top: 10px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
              line-clamp: 3;  
      -webkit-box-orient: vertical;
      color: var(--gray-400, #8896AB); 
      font-size: 18px !important;
      font-weight: 500;
      line-height: 28px;
      max-width: 100%;
  }

  .missing {
      margin-top: 5px;
  }

  .ingredients, .equipment {
      display: flex;
      align-items: center;
      justify-content: left;
      row-gap: 5px;
      column-gap: 1.5%;
      margin-bottom: 5px;
      flex-wrap: wrap;
  }

  .ingredients > span , .equipment > span {
      padding: 2px 6px;
      border-radius: 6px;
  }

  .ingredients > span {
      background-color: #DCFCE7;
      color: #22C55E;
  }

  .equipment > span {
      background-color: #ecdcfc;
      color: #7622c5;
  }
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.direction-column{
    flex-direction: column;
}
.start-container{
    margin-top: 3rem;
    align-items: center;
    text-align: center;
}
.start-container h1{
    color: var(--dark-gray-900, #1C232D);
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -1.1px; 
}
.start-container h2{
    color: var(--gray-500, #556987);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 42px;
}
#search {
    height: 46px;
    width: 313px;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid var(--gray-200, #D5DAE1);
    background: var(--White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    font-weight: 400;
    text-align: left;
    color: var(--gray-500, #667085); 
}
.recipe-container{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: 510px;
    column-gap: 3%;
}
  .recipe-link{
    text-decoration: none;
    color: inherit;
  }
  .recipe-link:hover{
    text-decoration: none;
    color: inherit;
  }
@media (min-width: 640px) {
    .start-container,
    .recipe-container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .start-container,
    .recipe-container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .start-container,
    .recipe-container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .start-container,
    .recipe-container {
      max-width: 1280px;
      width: 1200px;
    }
  }

