.selectIngredients, .selectEquipment {
    display: flex;
    justify-content: left;
    align-items: center;
    row-gap: 6px;
    column-gap: 6px;
    flex-wrap: wrap;
}
.find-h3-text{
    color: var(--gray-800, #333F51); 
    font-size: 24px;
    font-style: normal;
    font-weight: 501;
    line-height: 32px;
}

.findPage {
    display: block;
    padding-left: 5vw;
    padding-right: 5vw;
}

.findPage .selection h3 {
    display: block;
    width: 100%;
    margin: 20px 0 10px 0;
}

.selectIngredients span, .selectEquipment span {
    padding: 2px 5px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    cursor: pointer;
}

.selectIngredients span:hover, .selectEquipment span:hover {
    background-color: rgb(224, 224, 224);
}

.selectIngredients > span.selected {
    background-color: #DCFCE7;
    color: #22C55E;
}

.selectEquipment > span.selected {
    background-color: #ecdcfc;
    color: #7622c5;
}

.findPage .actions {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.findPage .actions a {
    color: gray;
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
}

.findPage .actions a:hover {
    color: black;
}

.findPage .recipes {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    column-gap: 3%;
    row-gap: 20px;
}

.findPage .actions span {
    color: #10b981;
    margin-right: 15px;
}

@media (min-width: 640px) {
    .findPage {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .findPage {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .findPage {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .findPage {
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px) {
    .findPage {
      max-width: 1536px;
    }
  }
  