
 .text-center.my-5 {
    font-size: 28px; 
    font-style: bold;
  }
  .main-reg-text{
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700; 
    text-align: center;
    padding-right: 1rem;
  }

  .subText {
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 3.5rem;
    padding-right: 1rem;
  }

a.login-link {
    color: #343434; 
    text-decoration: none; 
    display: block; 
    text-align: center; 
    margin-top: 26px; 
  }