.smallRecipe {
    width: 358px;
    display: block;
    background-color: rgb(250, 250, 250);
    border-radius: 15px;

}
.recipe-title h3{
    color: var(--gray-800, #333F51); 
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.smallRecipe img {
    width: 100%;
    height: auto;
    height: 272px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
}
.extraInfo img { 
    width: 6%;
    height: auto;
    margin-right: 7px;
}

.extraInfo {
    display: flex;
    margin-top: 20px;
    margin-bottom: 8px;
    
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 150% */ 
    align-items: left;
    justify-content:flex-start;
}

.extraInfo span:not(:last-child) {
    margin-right: 5%;
}
.rating {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 30%;
}

.rating svg {
    width: 8%;
    height: auto;
}

.rating span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0 0 5px;
    height: 100%;
    opacity: 0.7;
}


.description {
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;

    color: var(--gray-400, #8896AB); 
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.missing {
    margin-top: 5px;
}

.ingredients, .equipment {
    display: flex;
    align-items: center;
    justify-content: left;
    row-gap: 5px;
    column-gap: 1.5%;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.ingredients > span , .equipment > span {
    padding: 2px 6px;
    border-radius: 6px;
}

.ingredients > span {
    background-color: #DCFCE7;
    color: #22C55E;
}

.equipment > span {
    background-color: #ecdcfc;
    color: #7622c5;
}