.smallRecipe {
    width: 400px;
    display: block;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    padding: 0;
}

.smallRecipe > div {
    padding: 10px;
}

.smallRecipeLink {
    text-align: left;
    color: black;
    font-family: "Poppins", sans-serif;
    margin-top: 0;
}

.smallRecipeLink:hover {
    color: black;

}


h3 {
    margin-bottom: 0;
}

.smallRecipe img {
    width: 100%;
    height: auto;
    max-height: 250px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: left;
}

.rating svg {
    width: 8%;
    height: auto;
}

.rating span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0 0 5px;
    height: 100%;
    opacity: 0.7;
}

.extraInfo img { 
    width: 6%;
    height: auto;
    margin-right: 5px;
}

.extraInfo {
    display: flex;
    align-items: center;
    justify-content: left;
}

.extraInfo span:not(:last-child) {
    margin-right: 5%;
}


.description {
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
            line-clamp: 6; 
    -webkit-box-orient: vertical;
}

.missing {
    margin-top: 5px;
}

.ingredients, .equipment {
    display: flex;
    align-items: center;
    justify-content: left;
    row-gap: 5px;
    column-gap: 1.5%;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.ingredients > span , .equipment > span {
    padding: 2px 6px;
    border-radius: 6px;
}

.ingredients > span {
    background-color: #DCFCE7;
    color: #22C55E;
}

.equipment > span {
    background-color: #ecdcfc;
    color: #7622c5;
}